<!--  Search Bar  -->
<ul class="nav bs-sidenav" style="margin-bottom: 20px;">
  <div class="title">
    Search
     <span class="pull-right muted">
      <i class="fa fa-search"></i>
     </span>
  </div>           
  <div id="tabs">
    <ul>
      <li><a href="#tabs-brands">Brands</a></li>
      <li><a href="#tabs-industries">Industries</a></li>
      <li><a href="#tabs-colors">Colors</a></li>
      <li><a href="#tabs-attributes">Attributes</a></li>
    </ul>
   
    <div id="tabs-brands">
      <div class="demo">
        <div class="control-group">
          <select id="select-brand" name="brand[]" multiple class="demo-default"  placeholder="Select a brand...">
            <option value="">Select a brand...</option>
            <!--<optgroup label="Technology">
              <option value="Microsoft" >Microsoft<img src="http://content7.flixster.com/movie/11/12/20/11122085_mob.jpg" alt=""></option>
              <option value="Facebook">Facebook</option>
              <option value="Google">Google</option>
              <option value="Yahoo">Yahoo</option>
            </optgroup>
            <optgroup label="Finance">
              <option value="UBS">UBS</option>
              <option value="Goldman Sachs">Goldman Sachs</option>
            </optgroup>
            <optgroup label="Accounting">
              <option value="PwC">PwC</option>
              <option value="KPMG">KPMG</option>
            </optgroup>-->
          </select>
       </div>
      </div>
      <script>
      var options = [];
      var optgroups = [];
        <% for(var i=0;i<allCompanies.length;i++){ %>
          if( optgroups.indexOf("<%=allCompanies[i].GICSSectorName%>")===-1 ){
              optgroups.push("<%=allCompanies[i].GICSSectorName%>");
          }
          options.push({
            id: "<%= i %>",
            title : "<%= allCompanies[i].displayName%>",
            sector : "<%= allCompanies[i].GICSSectorName%>"
          });
        <%}%>
        console.log(optgroups);
        $('#select-brand').selectize({
          maxOptions: 100,
          valueField: 'title',
          labelField: 'title',
          searchField: 'title',
          options: options,
          optgroups : optgroups,
          optgroupField : 'sector',
          create: false,
          maxItems : 1
        });
      </script>
    </div>
     <div id="tabs-industries">
        <div class="demo">
        <div class="control-group">
          <select id="select-industry" name="industry[]" multiple class="demo-default"  placeholder="Select an industry...">
            <option value="">Select an industry...</option>
            <optgroup label="Construction">Construction</option>
              <option value="Home-Building">Home-Building</option>
              <option value="Building Materials">Building Materials</option>
            <optgroup label="Energy">
              <option value="Solar">Solar</option>
              <option value="Wind">Wind</option>
            </optgroup>
            <optgroup label="Financial">
              <option value="Banking">Banking</option>
              <option value="Hedge Funds">Hedge Funds</option>
            </optgroup>
            </select>
       </div>
      </div>
      <script>
        $('#select-industry').selectize({
          maxItems: 3
        });
      </script>
    </div>
    <div id="tabs-colors">
      <div class="demo">
        <div class="control-group">
          <select id="select-color" name="color[]" multiple class="demo-default"  placeholder="Select a color...">
            <option value="">Select a color...</option>
            <optgroup label="Blacks">Construction</option>
              <option value="Midnight">Midnight</option>
              <option value="Grey">Grey</option>
            <optgroup label="Blues">
              <option value="Dark Blue">Dark Blue</option>
              <option value="Light Blue">Light Blue</option>
            </optgroup>
            <optgroup label="Reds">
              <option value="Dark Red">Dark Red</option>
              <option value="Light Red">Light Red</option>
            </optgroup>
          </select>
       </div>
      </div>
      <script>
        $('#select-color').selectize({
          maxItems: 3
        });
      </script>
    </div>
   
     <div id="tabs-attributes">
      <div class="demo">
        <div class="control-group">
          <select id="select-attribute" name="attribute[]" multiple class="demo-default"  placeholder="Select an attribute...">
            //file://localhost/Users/ej463/Downloads/selectize.js-master/examples/github.html //
            <option value="">Select an attribute...</option>
            <option value="Aspiring">Aspiring</option>
            <option value="Candid">Candid</option>
            <option value="Caring">Caring</option>
            <option value="Cooperative">Cooperative</option>
            <option value="Generous">Generous</option>
            <option value="Modest">Modest</option>
            <option value="Respectful">Respectful</option>
            <option value="Serious">Serious</option>
          </select>
       </div>
      </div>
      <script>
        $('#select-attribute').selectize({
          maxItems: 3
        });
      </script>
    </div>
  </div>
</ul>