<!--  Module - Company Logo & Information - "Shows the Company's Logo and Data Associated to it" -->
     <div class="container-fluid" id="brand-info">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Company Info
          </button>
        </div>

        <div class="well-content">
          <div class="logo-container">
            <a href="../Logos/<%= brandResult.logoFileName%>" download="<%= brandResult.logoFileName%>">
              <img src="../Logos/<%= brandResult.logoFileName%>">
             </a>
          </div>

          <div class="brand-info-nameanddescription">
            <span class="brand-info-companyName">
              <%= brandResult.shortName %>
            </span> 
              - <%= brandResult.desc %>
          </div>

          <div class="brand-info-container">
            <div class="brand-info-text">
             <b>Stock Symbol</b>
              - <%= brandResult.stockSymbol %><br>
             <b>Industry</b>
              - <%=brandResult.GICSSectorName%><br>
             <b>Headquarters</b>
              - <%=brandResult.country%><br>
             <b>Market Cap Rank</b>
              - <%= brandResult.marketCapRank%><br>
             <b>Market Cap</b>
              - <%= brandResult.marketCap%><br>
            </div>

            <div class="brandManual-container">
              <a href="../Logos/<%= brandResult.brandManualFileName%>" download="<%= brandResult.brandManualFileName%>">
                <button class="buttondownload">
                    <i class="fa fa-download"></i>
                    Download Brand Manual
                </button>
              </a>
            </div>

            <span class="last-updated">
              Last Updated: March 28th 2014
            </span>

          </div>
        </div>
      </div>
    </div>