<!--  Module - Map - "Shows a Map and Attribtues Associated to Top Colors"  -->
<%    var mapTitle = '';
    if(queryType == 'brand'){
      mapTitle = brandResult.shortName + ' Color Attributes Worldwide';
    }
    else if(queryType == 'color'){
      mapTitle = colorResult.colorName + ' Attributes Associations Worldwide';
    }
    else if(queryType == 'attribute'){
      mapTitle = attributeResult.attributeName + ' Color Associations Worldwide';
    }
    else if(queryType == 'industry'){
      mapTitle = industryResult.industryName + ' Attribute Associations WorldWide'
    }
%>
    <div class="container-fluid" id="global-map">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Map Title <!--    mapTitle  -->
          </button>
        </div>
        <div class="well-content">
          <div id='<%=queryType%>-map-canvas'></div>
            <div style="width:100%">
              
              <div class="map-color" style="background-color:rgb(
                                                                <%= colorResult.RrgbValue%>,
                                                                <%= colorResult.GrgbValue%>,
                                                                <%= colorResult.BrgbValue%>);"></div>
              <div class="map-color-attribute-container">
                <span class="map-color-attribute-title">
                  1. Amazing
                </span>
                <span class="map-color-attribute-title">
                  1. Amazing
                </span>
                <span class="map-color-attribute-title">
                  1. Amazing
                </span>
                <span class="map-color-attribute-title">
                  1. Amazing
                </span>
              </div>
              </div>

              <div class="map-color" style="background-color:rgb(
                                                                <%= colorResult.RrgbValue%>,
                                                                <%= colorResult.GrgbValue%>,
                                                                <%= colorResult.BrgbValue%>);"></div>
              <div class="map-color-attribute-container">
                <span class="map-color-attribute-title">
                  1. Amazing
                </span>
                <span class="map-color-attribute-title">
                  1. Amazing
                </span>
                <span class="map-color-attribute-title">
                  1. Amazing
                </span>
                <span class="map-color-attribute-title">
                  1. Amazing
                </span>
              </div>
            </div>  
          </div>
        </div>
