<!--  Module - Top Colors - "Shows the Top Colors" -->
<!-- Expects topColors to be an array of colors and their percentage values-->

     <div class="container-fluid" id="colorTop">

      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Top 3 Colors
          </button>
        </div>

        <div class="well-content">
        <div class="colorTop-container">    

          <%
          for(var i=0;i<topColors.length; i++){ 
            var colorPercentageWidth = Math.floor(topColors[i].colorPercentage);
            var borderStyle;
            if(topColors[i].RrgbValue<10 && topColors[i].GrgbValue < 10 && topColors[i].BrgbValue < 10){
               borderStyle = 'solid 1px black';
            }
            else{
              borderSyle = 'none';
            }
          
          %>
            <div class='colorTop-boxes' style="float:left;width:<%=colorPercentageWidth%>%;" >
              <div class="colorTop-color" style="background-color: rgb(<%=topColors[i].RrgbValue%>,
                                                                      <%=topColors[i].GrgbValue%>,
                                                                      <%=topColors[i].BrgbValue%>);
                                                                      border:<%=borderStyle%>"></div>
              <%if(topColors[i].colorPercentage > 10){%>
                <div class="colorTop-percentage"><%=Math.floor(topColors[i].colorPercentage)%>%</div>
                <%}%>
            </div>  
          <%}%>

          </div>

          <div class="color-table">
            <div class="table-responsive">
              <%for(var j=0; j<topColors.length;j++){

                var borderStyle;
                var bottomBorder;
                if(topColors[j].RrgbValue<10 && topColors[j].GrgbValue < 10 && topColors[j].BrgbValue < 10){
                   borderStyle = 'solid 1px black';
                   bottomBorder = 'solid 2px black'
                }
                else{
                  borderSyle = 'none';
                  bottomBorder = 'none';
                }

                if(j===0){
                  var displayStyle = 'block';
                }
                else{
                  var displayStyle = 'none';
                }
              %>
              <table class="table table-bordered" style='display:block;'>
                <thead>
                  <tr style="font-weight:700;">
                    <th style='width:130px;'>Color</th>
                    <th>RGB</th>
                    <th>HEX</th>
                    <th>HSV</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="background-color:rgb(<%=topColors[j].RrgbValue%>,
                                                    <%=topColors[j].GrgbValue%>,
                                                    <%=topColors[j].BrgbValue%>);
                                                    width:130px;
                                                    border:<%=borderStyle%>!important;
                                                    bottom-border:<%=bottomBorder%>"></td>
                    <td><%=topColors[j].RrgbValue%>,<%=topColors[j].GrgbValue%>,<%=topColors[j].BrgbValue%></td>
                    <td><%
                      function componentToHex(c){
                        var hex = c.toString(16);
                        return hex.length == 1 ? "0" + hex : hex;
                      }
                      var hexValue = '#' + componentToHex(topColors[j].RrgbValue) + componentToHex(topColors[j].GrgbValue) + componentToHex(topColors[j].BrgbValue);
                      var h = parseFloat(topColors[j].hValue.toFixed(1),10);
                      var s = parseFloat(topColors[j].sValue.toFixed(1),10);
                      var v = parseFloat(topColors[j].vValue.toFixed(1),10)
                      %>
                      <%=hexValue%>
                    </td>
                    <td><%=h%>°,<%=s%>,<%=v%></td>
                  </tr>
                  
                </tbody>
              </table>    
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>