<!--  Module - Map - "Shows a Map and Attribtues Associated to Top Colors"  -->
<%
    var mapTitle = '';
    if(searchType == 'brand'){
      mapTitle = 'Color - Attribute association map';
    }
    else if(searchType == 'color'){
      mapTitle = 'Color - Attribute association map';
    }
    else if(searchType == 'attribute'){
      mapTitle = 'Color - Attribute association map';
    }
    else if(searchType == 'industry'){
      mapTitle = 'Color - Attribute association map';
    }
%>
    <div class="container-fluid" id="global-map">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            <%=mapTitle%>
          </button>
        </div>
        <div class="well-content">
          <div id='<%=queryType%>-map-canvas'></div>
            <div style="width:100%">

              <div class="map-color" style="background-color:rgb(
                                                                <%= colorResult.RrgbValue%>,
                                                                <%= colorResult.GrgbValue%>,
                                                                <%= colorResult.BrgbValue%>);"></div>
              <div class="map-color-attribute-container">

              </div>
              </div>

              <div class="map-color" style="background-color:rgb(
                                                                <%= colorResult.RrgbValue%>,
                                                                <%= colorResult.GrgbValue%>,
                                                                <%= colorResult.BrgbValue%>);"></div>
              <div class="map-color-attribute-container">

              </div>
            </div>  
          </div>
        </div>
