<!--  Module - Company Logo  -->
     <div class="container-fluid" id="companylogo">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Company Logo
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content">
          <div id="companylogo-box">
            <a href="../Logos/<%= brandResult.logoFileName%>" download="<%= brandResult.logoFileName%>">
              <img id="logo" src="../Logos/<%= brandResult.logoFileName%>">
             </a>
          </div>


          <table id="companyinfo-data">
            <thead></thead>
            <tbody>
              <tr class="header">
                <td style="width:200px;">Company Name</td>
                <td><%= brandResult.shortName %></td>
              </tr>
              <tr class="odd">
                <td>Description</td>
                <td><%= brandResult.desc %></td>
              </tr>
              <tr class="even">
                <td>Market Cap. Rank</td>
                <td>#<%= brandResult.marketCapRank%></td>
              </tr>
              <tr class="odd">
                <td>Market Cap.</td>
                <td>$<%var calcMktCap = parseFloat(brandResult.marketCap/1000000).toFixed(2);%><%= calcMktCap %> Million</td>
              </tr>
              <tr class="even">
                <td>Sector</td>
                <td><%=brandResult.GICSSectorName%></td>
              </tr>
              <tr class="odd">
                <td>Industry</td>
                <td><%= brandResult.GICSIndName%></td>
              </tr>
              <tr class="even">
                <td>Sub-Industry</td>
                <td><%= brandResult.GICSSubIndName%></td>
              </tr>
              <tr class="odd">
                <td>Website</td>
                <td><a href="<%= brandResult.website%>">http://<%= brandResult.website%></a></td>
              </tr>
            </tbody>
          </table>   
           
          <div style="width: 100%;text-align: center;">
          <a href="../Logos/<%= brandResult.brandManualFileName%>" download="<%= brandResult.brandManualFileName%>">
            <button id="buttondownload" style="padding-bottom: 10px;">
              <div>
                <i class="fa fa-download" style="font-size: 15px;margin-right: 10px;"></i>  
                Download <%= brandResult.shortName %>'s Original Brand Manual
              </div> 
            </button>
          </a>
          </div>
        </div>
      </div>
    </div>