<!--  Module - Top 3 Colors  -->
     <div class="container-fluid" id="logocolors">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Logo Colors & Analytics
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content">
        <% var width = (1/brandResult.associatedColors.length)*100 %>
                    <% for(var i=0; i<brandResult.associatedColors.length; i++){ %>
              <div id="box-1" class="box" style="background:rgb(
                    <%=brandResult.associatedColors[i].RrgbValue %>,
                    <%=brandResult.associatedColors[i].GrgbValue %>,
                    <%=brandResult.associatedColors[i].BrgbValue %>);
                    width: <%=width%>%;">
                  <span class="caption simple-caption">
                    <span class="colorname">
                      <center><%=brandResult.associatedColors[i].colorName%></center>
                    </span>
                    <span class="colormoreinfo">
                      <ul>
                        <li>
                          <span style="font-weight: 500;">RGB:</span> ( 
                          <%=brandResult.associatedColors[i].RrgbValue %>,
                          <%=brandResult.associatedColors[i].GrgbValue %>,
                          <%=brandResult.associatedColors[i].BrgbValue %> )
                        </li>
                        <li>
                          <span style="font-weight: 500;">HSV:</span> ( 
                          <%=brandResult.associatedColors[i].hValue.toFixed(0) %>,
                          <%=brandResult.associatedColors[i].sValue.toFixed(0) %>,
                          <%=brandResult.associatedColors[i].vValue.toFixed(0) %>,
                          <%=brandResult.associatedColors[i].lValue.toFixed(0) %>% )
                        </li>
                      </ul>
                    </span>
                  </span>
              </div>
           <%}%>       
          </div>
        <div class="well-content" style="height: 100px!important;
padding-top: 10px;
}">
           <div>
             <div style="float: left;
width: 160px;
text-align: center;
margin-top: 10px;
border: 1px solid #eee;
padding-bottom: 10px;
margin-left: 45px;
padding-top: 10px;
margin-right: 10px;"> <div style="font-size:11px;padding:10px;line-height:14px;font-weight:700;">Color Percentage used<br> in industry</div>  <div></div><span style="font-size:30px;font-weight:500">45%</span></div>
             <div style="float: left;
margin-top: 8px;
width: 160px;
text-align: center;
border: 1px solid #eee;
font-size: 11px;
padding: 10px;
font-weight: 700;
margin-right: 10px;"> <div><div style="font-size:11px;padding:10px;line-height:14px;font-weight:700;">Color used<br> across industries</div></div>  <div></div><span style="font-size:30px;font-weight:500">33%</span></div>
             <div style="float: left;
width: 160px;
text-align: center;
margin-top: 10px;
border: 1px solid #eee;
font-size: 11px;
padding: 10px;
font-weight: 700;
margin-right: 10px;"> <div><div style="font-size:11px;padding:10px;line-height:14px;font-weight:700;">Logo Color <br> combinations used</div></div>  <div></div><span style="font-size:30px;font-weight:500">27%</span></div>
           </div>
        </div>
        <div style="width: 100%;text-align: center;margin-top: -10px;">
          <a href="../Logos/<%= brandResult.brandManualFileName%>" download="<%= brandResult.brandManualFileName%>">
            <button id="buttondownload" style="padding-bottom: 10px;margin-bottom: 20px;">
              <div>
                <i class="fa fa-download" style="font-size: 15px;margin-right: 10px;"></i>  
                Download <%= brandResult.shortName %>'s Original Brand Manual
              </div> 
            </button>
          </a>
          </div>
      </div>
    </div>