<!--  Module - Top 3 Colors  -->
     <div class="container-fluid" id="logocolors">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            <i class="fa fa-bar-chart-o" style=""></i>
            Top 3 Colors
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Information on the Top 3 Colors">
                  <i class="fa fa-info-circle"></i>
                </button>
              </div>
            </span>
        </div>
        <div class="well-content">
        <% var width = (1/brandResult.associatedColors.length)*100 %>
                    <% for(var i=0; i<brandResult.associatedColors.length; i++){ %>
              <div id="box-1" class="box" style="background:rgb(
                    <%=brandResult.associatedColors[i].RrgbValue %>,
                    <%=brandResult.associatedColors[i].GrgbValue %>,
                    <%=brandResult.associatedColors[i].BrgbValue %>);
                    width: <%=width%>%;">
                  <span class="caption simple-caption">
                    <span class="colorname">
                      <center><%=brandResult.associatedColors[0].colorName%></center>
                    </span>
                    <span class="colormoreinfo">
                      <ul>
                        <li>
                          <span style="font-weight: 500;">RGB:</span> ( 
                          <%=brandResult.associatedColors[i].RrgbValue %>,
                          <%=brandResult.associatedColors[i].GrgbValue %>,
                          <%=brandResult.associatedColors[i].BrgbValue %> )
                        </li>
                        <li>
                          <span style="font-weight: 500;">HSV:</span> ( 
                          <%=brandResult.associatedColors[i].hValue.toFixed(0) %>,
                          <%=brandResult.associatedColors[i].sValue.toFixed(0) %>,
                          <%=brandResult.associatedColors[i].vValue.toFixed(0) %>,
                          <%=brandResult.associatedColors[i].lValue.toFixed(0) %> )
                        </li>
                      </ul>
                    </span>
                  </span>
              </div>
           <%}%>           
        </div>
      </div>
    </div>